<div class="container">
    <div class="row text-center mb-4">
        <div class="col-12">
            <h4><a href="/login">Testing(Login Page)-></a></h4>
        </div>
    </div>
    {{!-- <div class="row">
        <div class="bg-warning rounded col-md-6">
            <h1>Total Request</h1>
        </div>
        <div class="bg-secondary rounded col-md-6">
            IP Address
        </div>
    </div> --}}
</div>
